<div class="page-header">
  <h1>User Stories and Business Rules</h1>
</div>

<h4>User Stories</h4>

<ol>
  <li>As a visistor, I want to view the list of service providers.</li>
  <li>As a visitor, I want to click on a service provider and see specifics.</li>
  <li>As a visitor, I want to register as a client so that I can hire service providers.</li>
  <li>As a visitor, I want to use the search bar to to narrow down the list of providers.</li>
  <li>As a client, I want to hire a service provider for a specified amount of hours and for a specific service.</li>
  <li>As a client, I want to review the orders for services that I have placed. </li>
  <li>As a service provider, I want to edit my profile.</li>
  <li>As a service provider, I want to add a service that I offer.</li>
  <li>As a visitor, I want to register as a service provider.</li>
</ol>


<h4>Business Rules</h4>

<ol>
  <li>Clients must be signed in to hire service providers</li>
  <li>Clients must be signed in to view order history.</li>
  <li>Service Providers must be signed in to edit their profile</li>
  <li>Service Providers can only edit their own profile</li>
  <li>Orders do not require a certain number of hours or a specific service</li>
  <li>Passwords must be encrypted.</li>
  <li>ALL PRE-POPULATED PASSWORDS ARE 'password'</li>
</ol>
